body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e1e1fd;
}    

header{
    text-align: center ;
}

nav{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.link{
    list-style: none;
    display: inline;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #5c496d;
}

h1{
    color: white;
    text-shadow: 6px, 3px, #e1e1fd;
    background-color: #5c496d;
    font-size: xx-large;
    font-weight: bold;
    padding: 30px ;
    
}

#bio{
    text-justify: distribute;
    padding: 10px;
    font-size: large;
    float: right;
    width: 65%;
    
}

#ex-ed{
    width: 60%;
    padding-left: 10px;
    float: right;
    line-break: normal;
}

.exp{
    list-style: square;
}

#facts {
    width: 60%;
    padding-left: 10px;    
    float: right;
}

.ten-facts{
    list-style: lower-roman;
}

#pic{
    float: left;
}

#coder{
    width: 500px;
}


footer{
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #5c496d;
    position: absolute ;
    bottom: 0;
    width: 97.4%;

}

#copy{
    text-align: right;
    font-size: small;
    padding-right: 20px;
}